
$main-color:#485461;
$title-color:#545CED;
$paragraph-color:#65CD;
$button-color:#5ECDDE;

.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.ml-55{
    margin-left: 54px;
}

a{
    text-decoration: none;
}

